section.section.items-slider.recipes-slider
  .container 
    .section__head.items-slider__head 
      h3.section__title Другие рецепты
    .swiper
      .swiper-button.swiper-button-prev(data-custom-interaction)
        svg.icon
          use(xlink:href='./img/icons/sprite.svg#right-arrow')
      .swiper-button.swiper-button-next(data-custom-interaction)
        svg.icon
          use(xlink:href='./img/icons/sprite.svg#right-arrow')
      .swiper-container(data-md-slides='2' data-lg-slides='3')
        .swiper-wrapper
          .swiper-slide
            +recipe-day()
          .swiper-slide
            +recipe-block(1)
          .swiper-slide
            +recipe-block(2)
          .swiper-slide
            +recipe-block(1)
          .swiper-slide
            +recipe-block(2)

      .swiper-pagination  