extends layout/layout

block variables
  -var page_title = 'Карамелизованная морковь с кешью кремом'
  -var title = sitename + ' - ' + page_title

block content
  include blocks/components

  -var breadcrumbs_links = ['Главная', 'Блог', 'Рецепты', page_title]
  include blocks/breadcrumbs

  section.section.article
    .container 
      .article__container
        .article__head

          .article__image.article__image_mask.image.image_cover
            img(data-src="./img/Banners_news_1122x350 2.jpg", alt="image").lazyload

          .article__head-text
            
            .recipe-info 
              .recipe-info__item 
                svg.icon(viewBox="0 0 21 21")
                  use(xlink:href='./img/icons/sprite.svg#wall-clock')
                | 1 час
              .recipe-info__item 
                svg.icon(viewBox="0 0 29 20")
                  use(xlink:href='./img/icons/sprite.svg#dish')
                | 320 ккал
            
            h1.h3.article__title Карамелизованная морковь с кешью кремом


        .article__content 

          .recipe-description

            .recipe-description__section 
              h6.recipe-description__section-title Ингредиенты
              ul 
                li Молодая морковь с ботвой 8-10 шт.<br> (выбирайте мелкую)
                li Мед (цветочный) или сироп топпинамбура 2 ст.л.
                li Оливковое масло extra virgin 3 ст.л.
                li Винный уксус 1 ст.л.
                li Бадьян 1 звездочка
                li Кардамон 2 коробочки
                li Корица 1 палочка
                li Соль и черный перец
                li Кешью 100 гр
                li Сок лимона 1-2 чл.

            .product-card.recipe-description__product(data-custom-interaction)
              .product-card__image
                a(href="./product.html").image.image_contain 
                  img(data-src="./img/product-1.png", alt="image").lazyload
              .product-card__content 
                .product-card__top
                  .product-card__label-info 
                    svg.icon
                      use(xlink:href='./img/icons/sprite.svg#clock')
                    | Срок хранения: 12 мес
                  a(href="./product1.html").product-card__title.link Фисташки очищенные сушенные
                  
            .recipe-description__section 
              h6.recipe-description__section-title Энергетическая ценность
              table.info-table 
                tr 
                  td 
                    span Каллорийность
                  td 
                    span 242 ккал
                tr 
                  td 
                    span Белки
                  td 
                    span 6,5 грамм
                tr 
                  td 
                    span Жиры
                  td 
                    span 7,8 грамм
                tr 
                  td 
                    span Углеводы
                  td 
                    span 36,7 грамм

          h6 Инструкция приготовления
          ol 
            li Отложите горсть кешью для подачи.
            li Для крема кешью заранее замочите в фильтрованной воде хотя бы на 2 часа.
            li Затем орехи промойте, положите в чашу блендера, добавьте лимонный сок (1 чл), соль, свежемолотый перец  и около 50 мл воды.
            li Начните пробивать массу, воды скорее всего потребуется немного больше, но ее лучше доливать постепенно,  что бы крем не получился слишком жидким.
            li Пробивать следует до получения абсолютно гладкой и однородной массы, по консистенции похожей на сметану.
            li Попробуйте крем, по необходимости можно добавить еще немного лимонного сока и соли с перцем.
            li Получившийся крем до подачи уберите в холодильник.
            li Морковь хорошо промойте от песка и грязи, ее можно не чистить.
            li Ботву срежьте, но не до конца, оставьте 3-4 см.
            li Каждую морковку разрежьте вдоль на две половины и сложите их в жаропрочную прямоугольную форму.
            li Мед, оливковое масло, уксус и специи положите в сотейник и прогрейте, помешивая до объединения, не кипятите.
            li Полейте получившимся соусом морковку и аккуратно перемешайте руками.
            li Запекайте при 180С около 25-30 минут (зависит от размера морковок).
            li Периодически аккуратно переворачивайте морковки, что бы они не начали подгорать с одной стороны.
            li Подавайте морковки вместе с кешью кремом.
            li Сверху, на мелкой терке, потрите отложенный в самом начале кешью.
      
      .back-link 
        a(href="novosti.html") 
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#left-arrow')
          span Вернуться назад


  include blocks/recipes-slider