extends layout/layout

block variables
  -var page_title = 'Контакты'
  -var title = sitename + ' - ' + page_title

block content
  include blocks/components

  -var breadcrumbs_links = ['Главная', page_title]
  include blocks/breadcrumbs

  -var map_type = 2;
  include blocks/map

  section.section.contacts-section
    .container 
      .contacts-section__container 
        //box
        .contact-box 
          h6.contact-box__title Фирменные магазины
          .contact-box__elements 
            .contact-box__item
              .contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#geo')
                | ул. Мясницкая 13, ст3
              .contact-box__item-text 
                table 
                  tr 
                    td(style='text-align:right;padding-right:5px;') Пн-Пт: 
                    td 9:00 - 22:00
                  tr 
                    td(style='text-align:right;padding-right:5px;') Сб: 
                    td 10:00 - 22:00
                  tr 
                    td(style='text-align:right;padding-right:5px;') Вс: 
                    td 10:00 - 21:00

            .contact-box__item
              .contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#geo')
                | ТЦ «Авиапарк»
              .contact-box__item-text 
                table 
                  tr 
                    td(style='text-align:right;padding-right:5px;') Пн-Вс:
                    td 10:00 - 22:00

            .contact-box__item
              span.contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#geo')
                | ул. Валовая, д6
              span.contact-box__item-text 
                table 
                  tr 
                    td(style='text-align:right;padding-right:5px;') Пн-Сб:
                    td 9:00 - 22:00
                  tr 
                    td(style='text-align:right;padding-right:5px;') Вс:
                    td 10:00 - 21:00
            .contact-box__item
              span.contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#phone')
                | Телефон
              span.contact-box__item-text 
                a(href="tel:+74951595591") +7 (495) 159-55-91

        //box
        .contact-box 
          h6.contact-box__title Центральный офис
          .contact-box__elements 
            .contact-box__item
              span.contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#geo')
                | Адрес
              span.contact-box__item-text 
                | 127018, Москва, 2-я Ямская улица, дом 9.
            .contact-box__item
              span.contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#mail')
                | Почта
              span.contact-box__item-text 
                a(href="mailto:opt@semushka-m.ru") opt@semushka-m.ru
            .contact-box__item
              span.contact-box__item-head
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#phone')
                | Телефон
              span.contact-box__item-text 
                a(href="tel:74954887285") +7 (495) 488 72 85
            
            

  section.section
    .container
      include blocks/banner1        

  section.section
    .container
      .section__head
        h2.section__title Где купить?
      .partners-box
        .partners-box__container
          mixin item(image)
            .partners-box__item
              .image.image_contain 
                img(data-src=`./img/partners/${image}.png`, alt="image").lazyload
          +item('1')
          +item('2')
          +item('3')
          +item('4')
          +item('5')
          +item('6')
          +item('7')
          +item('8')
          +item('9')
          +item('10')
          +item('11')
          +item('12')
          +item('13')
          +item('14')
          +item('15')
          +item('16')
          +item('17')
          +item('18')
          +item('19')
          +item('20')
          +item('21')
          +item('22')
          +item('23')
          +item('24')
          +item('25')
          +item('26')
    