extends layout/layout

block variables
  -var page_title = 'Экскурсия в магазин «Семушка» на Мясницкой'
  -var title = sitename + ' - ' + page_title

block content
  include blocks/components

  -var breadcrumbs_links = ['Главная', 'Новости', page_title]
  include blocks/breadcrumbs

  section.section.article
    .container 
      .article__container
        .article__head 
          .article__image.image.image_cover 
            img(data-src="./img/Banners_news_1122x350 1.jpg", alt="image").lazyload
          .article__head-text
            span.article__date 14.06.2021
            h1.h3.article__title Экскурсия в магазин «Семушка» на Мясницкой
        .article__content
          p В нашем магазине вы найдёте не только отборные орехи, натуральные сухофрукты и сладости, но и первый в столице Ореховый бар.
          a(href="#video" data-modal='open' data-video='https://www.youtube.com/embed/-TB7V6MCXU4?autoplay=1').video-block.image.image_cover
            img(data-src="./img/Rectangle 117.jpg", alt="image").lazyload
            .icon
              svg
                use(xlink:href='./img/icons/sprite.svg#play')
          ul
            li Масло из любого вида орехов или семян можно купить прямо в день отжима.
            li Современные технологии позволяют получить масла холодного отжима без добавок и примесей. ⁣⁣
            li Только экологически чистый и полезный продукт.⁣⁣
          p Приходите, чтобы ощутить настоящую силу природы и получить максимальную пользу для своего здоровья и здоровья своих близких с продукцией 
          p Ждем Вас по адресу: <br> Москва, Большая Серпуховская ул., дом 32, строение 1

          
      
      
      .back-link 
        a(href="novosti.html") 
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#left-arrow')
          span Вернуться назад

  
  
  //section.section
    .container 
      .section__head.section__head_with-button
        h3.section__title.section__title_with-button Новости
        a(href="novosti.html").button.button_style-2.button_arrow
          span Смотреть все
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#right-arrow')
      .news-grid 
        +news-element('./img/News_pic_588x266 1.jpg', 'Экскурсия в магазин «Семушка»<br> на Мясницкой', 2)
        +news-element('./img/Mask Group.jpg', 'Открытие магазина «Семушка» в Москве')
        +news-element('./img/News_pic_282x266_2 1.jpg', 'Открытие сайта для оптовых покупателей')
        +news-element('./img/News_pic_282x266_3 1.jpg', 'Увеличение цены на чернослив и курагу')
        +news-element('./img/News_pic_282x266_4 1.jpg', 'Компания «Семушка» прошла сертификацию FSSC 22000 ')
        +news-element('./img/News_pic_588x266_1 1.jpg', 'Логистический кризис: цены на контейнерные перевозки резко увеличились', 2)

  section.section.items-slider.recipes-slider
    .container 
      .section__head.items-slider__head 
        h3.section__title Другие новости
      .swiper
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#right-arrow')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#right-arrow')
        .swiper-container(data-md-slides='2' data-lg-slides='3')
          .swiper-wrapper
            .swiper-slide
              +recipe-block(1, 2)
            .swiper-slide
              +recipe-block(2, 2)
            .swiper-slide
              +recipe-block(1, 2)
            .swiper-slide
              +recipe-block(2, 2)
            .swiper-slide
              +recipe-block(2, 2)