section.section 
  .container
    .section__head 
      h1.section__title.h3 Политика конфиденциальности.
    .section__container
      p
        b 1. ВВЕДЕНИЕ
      p
        | 1. Настоящий документ определяет политику OOO «Семушка» (ОГРН: 1157746625860 ИНН: 9715205490 КПП: 771501001 Код налогового органа: 7746) (далее — Компания) в отношении обработки персональных данных (далее — ПДН).
      p
        | 2. Настоящая Политика разработана в соответствии с действующим законодательством Российской Федерации о персональных данных и нормативными документами исполнительных органов государственной власти по вопросам безопасности ПДН, в том числе при их обработке в информационных системах ПДН.
      p
        | 3. Действие настоящей Политики распространяется на все процессы по сбору, записи, систематизации, накоплению, хранению, уточнению, извлечению, использованию, передаче (распространению, предоставлению, доступу), обезличиванию, блокированию, удалению, уничтожению персональных данных, осуществляемых с использованием средств автоматизации и без использования таких средств.
      p
        | 4. Политика обязательна для ознакомления и исполнения руководителями структурных подразделений, работники которых принимают участие в обработке персональных данных.
      p
        | 5. Настоящая Политика подлежит публикации на корпоративном сайте Компании с целью обеспечения неограниченного доступа к документу.
      p
        b 2. ПРИНЦИПЫ ОБРАБОТКИ ПДН 
      p
        | При обработке ПДН Компания придерживается следующих принципов:
      p
        | 1. законности и справедливой основы;
      p
        | 2. ограничения обработки ПДН достижением конкретных, заранее определенных и законных целей;
      p
        | 3. недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместных между собой;
      p
        | 4. соответствия содержания и объема обрабатываемых персональных данных заявленным целям обработки;
      p
        | 5. недопущения обработки персональных данных, несовместимых или избыточных по отношению к заявленным целям обработки персональных данных;
      p
        | 6. обеспечения точности, достаточности, а в необходимых случаях и актуальности персональных данных по отношению к заявленным целям обработки;
      p
        | 7. уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем, по которому является субъект персональных данных.
      p
        b 3. ЦЕЛИ ОБРАБОТКИ ПДН
      p
        | Обработка ПДН субъектов осуществляется Компанией в целях:
      p
        | 1. Идентификации Пользователя, зарегистрированного на электронном сайте 
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        |  для оформления заказа и/или заключения и исполнения Договора купли-продажи товара дистанционным способом;
      p
        | 2. Создание учетной записи для совершения покупок, участиях в конкурсах и мероприятиях Компании;
      p
        | 3. Предоставление Пользователю доступа к персонализированным ресурсам сайтов, приложений и порталов Компании;
      p
        | 4. Предоставление Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием электронного сайта 
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        | ;
      p
        | 5. Уведомления Пользователя о состоянии Заказа, оформленного на сайте 
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        | ;
      p
        | 6. Обработки и контроля статуса платежей по заказам, оформленным на сайте 
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        | ;
      p
        | 7. Организации и проведения Компанией мероприятий и опросов, информирование Пользователей о новых товарах, услугах, скидках Компании путем направления смс сообщений, электронных (e-mail) сообщений и использования иных средств коммуникации;
      p
        | 8. Установление с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайтов Компании, оказания услуг, обработка запросов и заявок;
      p
        | 9. Предоставление дополнительных сервисов и услуг Компании, направленных на повышение информированности о продукции и услугах Компании;.
      p
        | 10. Анализ предпочтений и мониторинг потребительского поведения Пользователя;
      p
        | 11. В иных целях при соблюдении действующего законодательства.
      p
        b 4. СРОК ОБРАБОТКИ ПДН
      p
        | 1. ПДН обрабатываются до удаления профиля, прекращения действия программы лояльности, выхода из программы лояльности, отказа от получения рассылок.
      p
        | 2. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления заявления Компании в письменной или электронной форме.
      p
        b 5. УСЛОВИЯ ОБРАБОТКИ ПДН
      p
        | 1. Обработка персональных данных в Компании допускается только при наличии одного из следующих условий:
      p
        | • обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
      p
        | • Регистрируясь на сайте 
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        | , оставляя свои персональные данные в форме для регистрации, а равно в форме обратной связи Пользователь своей волей и в своем интересе дает согласие на обработку его ПДН;
      p
        | • Соглашаясь с обработкой ПДН каждый Пользователь подтверждает, что он ознакомился с настоящей Политикой;
      p
        | • обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;
      p
        | • обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве;
      p
        | • обработка персональных данных необходима для предоставления государственной или муниципальной услуги в соответствии с федеральным законом от 27 июля 2010 года № 210-ФЗ «Об организации предоставления государственных и муниципальных услуг», для обеспечения предоставления такой услуги, для регистрации субъекта персональных данных на едином портале государственных и муниципальных услуг;
      p
        | • обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
      p
        | • обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных, если получение согласия субъекта персональных данных невозможно;
      p
        | • обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц, либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
      p
        | • обработка персональных данных необходима для осуществления профессиональной деятельности журналиста и (или) законной деятельности средства массовой информации либо научной, литературной или иной творческой деятельности при условии, что при этом не нарушаются права и законные интересы субъекта персональных данных;
      p
        | • обработка персональных данных осуществляется в статистических или иных исследовательских целях, при условии обязательного обезличивания персональных данных. Исключение составляет обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи, а также в целях политической агитации;
      p
        | • осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных, либо по его просьбе (далее — персональные данные, сделанные общедоступными субъектом персональных данных);
      p
        | • осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
      p
        | 2. Для обработки персональных данных необходимо наличие согласия в письменной форме субъекта ПДН в следующих случаях (за исключением специально обговоренных в № 152-ФЗ «О персональных данных»):
      p
        | • включение ПДН субъекта в общедоступные источники ПДН;
      p
        | • обработка специальных категорий ПДН, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни;
      p
        | • обработка биометрических ПДН (сведений, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность и которые используются оператором для установления личности субъекта персональных данных);
      p
        | • трансграничная передача ПДН на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов ПДН;
      p
        | • принятие на основании исключительно автоматизированной обработки ПДН решений, порождающих юридические последствия в отношении субъекта ПДН или иным образом затрагивающих его права и законные интересы.
      p
        | 3. Равнозначным содержащему собственноручную подпись субъекта персональных данных согласию в письменной форме на бумажном носителе признается согласие в форме электронного документа, подписанного в соответствии с федеральным законом электронной подписью.
      p
        | 4. Компания вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора (далее — поручение оператора). Лицо, осуществляющее обработку персональных данных по поручению Компании, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные № 152-ФЗ «О персональных данных».
      p
        | 5. В случае если Компания поручает обработку персональных данных другому лицу, ответственность перед субъектом персональных данных за действия указанного лица несет Компания. Лицо, осуществляющее обработку персональных данных по поручению Компании, несет ответственность перед Компанией.
      p
        | 6. Компания и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.
      p
        b 6. ПРАВА СУБЪЕКТОВ ПДН
      p
        | 1. Субъект персональных данных вправе требовать от Компании уточнения своих персональных данных, их блокирования или уничтожения в случаях, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
      p
        | 2. Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных, в том числе содержащей:
      p
        | • подтверждение факта обработки персональных данных Компанией;
      p
        | • правовые основания и цели обработки персональных данных;
      p
        | • цели и применяемые Компанией способы обработки персональных данных;
      p
        | • наименование и место нахождения Компании, сведения о лицах (за исключением работников Компании), которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с Компанией или на основании ФЗ-152;
      p
        | • обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных, источник их получения, если иной порядок представления таких данных не предусмотрен ФЗ-152;
      p
        | • сроки обработки персональных данных, в том числе сроки их хранения;
      p
        | • порядок осуществления субъектом персональных данных прав, предусмотренных № 152-ФЗ "О персональных данных;
      p
        | • информацию о ранее осуществленной или о предполагаемой трансграничной передаче данных;
      p
        | • наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению Компании, если обработка поручена или будет поручена такому лицу;
      p
        | • иные сведения, предусмотренные ФЗ-152 или другими федеральными законами.
      p
        b 7. МЕРЫ ПО ОБЕСПЕЧЕНИЮ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПРИ ИХ ОБРАБОТКЕ.
      p
        | 1. При обработке персональных данных Компания принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
      p
        | 2. Обеспечение безопасности персональных данных достигается, в частности:
      p
        | • определением угроз безопасности персональных данных при их обработке в информационных системах персональных данных;
      p
        | • применением организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных, необходимых для выполнения требований к защите персональных данных, исполнение которых обеспечивает установленные Правительством Российской Федерации уровни защищенности персональных данных;
      p
        | • применением прошедших в установленном порядке процедуру оценки соответствия средств защиты информации;
      p
        | • оценкой эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы персональных данных;
      p
        | • учетом машинных носителей персональных данных;
      p
        | • обнаружением фактов несанкционированного доступа к персональным данным и принятием мер;
      p
        | • восстановлением персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
      p
        | • установлением правил доступа к персональным данным, обрабатываемым в информационной системе персональных данных, а также обеспечением регистрации и учета всех действий, совершаемых с персональными данными в информационной системе персональных данных;
      p
        | • контролем за принимаемыми мерами по обеспечению безопасности персональных данных и уровня защищенности информационных систем персональных данных.
      p
        b Согласие на обработку персональных данных.
      p
        | Регистрируясь, а так же при проставлении отметки в соответствующем поле сайте (
        a(href='https://opt.semushka.com/') https://opt.semushka.com/
        | ) и нажатии кнопки подтверждения субъект персональных данных (потенциальный потребитель, приобретатель товаров, работ, услуг), в соответствии с п. 4 ст. 9, ст. 11 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», в целях продвижения оператором товаров, работ, услуг оператора на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи даёт согласие для: Общества с ограниченной ответственностью «Семушка», находящемуся по адресу: 129012, город Москва, улица 2-я Ямская, дом 9, эт. 3, на обработку персональных данных, а именно: биометрических, общедоступных, данных специальных категорий и иных данных, то есть на совершение действий, предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», а также на трансграничную передачу указанных данных в порядке и в соответствии с ч. 3 ст. 6, ст. 9 Федерального закона от 27.07.2006 N 152-ФЗ.
      p
        | Субъект персональных данных выражает согласие на осуществление со всеми указанными персональными данными следующих действий: сбор, систематизация, накопление, хранение, уточнение (обновление или изменение), использование, распространение (в том числе – передача), обезличивание, блокирование, уничтожение, передача, а также осуществление любых иных действий с персональными данными в соответствии с действующим законодательством РФ. Обработка персональных данных может осуществляться с использованием средств автоматизации, а также без их использования (при неавтоматической обработке). Оператор вправе предоставлять персональные данные третьим лицам для обеспечения возможности использовать их для получения услуг в области Интернет-рекламы. При обработке персональных данных Оператор не ограничен в применении способов их обработки. Субъект персональных данных выражает согласие на осуществление Оператором обратной связи с ним, включая: направление запросов и информации, которая касается использования Сайта и исполнения соглашений и договоров, направление уведомлений, включая уведомления (рассылки) о новостях и продуктах Оператора, обработку заявок субъекта.
      p
        | Настоящее согласие действует со дня его подтверждения до дня отзыва в письменной форме.
      p
        | Подтверждаю, что при проставлении отметки в соответствующем поле и нажатии кнопки подтверждения с Положением оператора о политике обработки персональных данных, политикой конфиденциальности ознакомлен и согласен.
