.banner   
  .image.image_cover
    img(src="./img/Banners_optovikam_1200x120 1.jpg", alt="bg").lazyload
  .banner__text 
    h6.banner__title Вы оптовый покупатель и вас интересует большой объем?
    p Здесь вы можете приобрести сырье и готовую продукцию 
  .banner__button 
    a(href="https://ruslanmmr.github.io/Semushka_opt/build/").button.button_style-1 
      span Подробнее