footer.footer
  .container.footer__container
    .footer__box-1
      a(href="./").logo.footer__logo
        img(src="./img/logos/logo.svg", alt="logo")
      .socials.footer__socials
        ul.socials__list 
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 22 21")
                use(xlink:href='./img/icons/sprite.svg#facebook') 
              | facebook
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 22 21")
                use(xlink:href='./img/icons/sprite.svg#instagram') 
              | instagram
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 30 21")
                use(xlink:href='./img/icons/sprite.svg#youtube') 
              | youtube
    .footer__nav
      nav.footer-nav        
        ul.footer-nav__list
          li.footer-nav__item
            a(href="./produkcziya.html").footer-nav__link Продукция
          li.footer-nav__item
            a(href="./novosti.html").footer-nav__link Новости
          li.footer-nav__item
            a(href="./o-kompanii.html").footer-nav__link О компании
          li.footer-nav__item
            a(href="./kontakty.html").footer-nav__link Контакты
          li.footer-nav__item
            a(href="#").footer-nav__link Оптовикам
    
    .footer__info.footer__adress
      h6.footer__info-title Адрес 
      .footer__info-content 
        span 2-я Ямская ул., 9, Москва, 127018


    .footer__info.footer__phones
      h6.footer__info-title Телефоны 
      ul.footer__info-list 
        li.footer__info-item 
          a(href="tel:74954887285") +7 (495) 488 72 85
        li.footer__info-item 
          a(href="tel:74954887284") +7 (495) 488 72 84
        li.footer__info-item 
          a(href="tel:74956026424") +7 (495) 602 64 24

    .footer__info.footer__info-email
      h6.footer__info-title Почта 
      ul.footer__info-list 
        li.footer__info-item 
          a(href="mailto:info@semushka-m.ru") info@semushka-m.ru

    .footer__box-2 
      a(href="#").footer__politics.link-dashed Политика конфиденциальности 

    .footer__box-3 
      ul.footer-lang 
        li.footer-lang__item 
          a(href="#").footer-lang__link.link EN 
        li.footer-lang__item 
          a(href="#").footer-lang__link.link.is-active RU 
          
      span.footer__copyright все права защищены © 