section.section.map-section 
  .section__head.container
    if map_type == 1
      h3.section__title.map-section__section-title Где купить?
    else 
      h1.section__title Контакты
    
  .map-section__container 
    .map-section__content-wrapper.container
      .map-section__content  
        h6.map-section__title Адреса магазинов
        .map-section__elements 
          .map-section__element
            .map-section__element-type Гипермаркет
            .map-section__element-title Глобус. ш. Энтузиастов, 48, Балашиха
            .map-section__element-time Круглосуточно
          .map-section__element
            .map-section__element-type Супермаркет
            .map-section__element-title «Азбука вкуса». ш. Энтузиастов, 48, Балашиха
            .map-section__element-time Круглосуточно
          .map-section__element
            .map-section__element-type Гипермаркет
            .map-section__element-title Глобус. ш. Энтузиастов, 48, Балашиха
            .map-section__element-time Круглосуточно

    .map-section__map
      a.dg-widget-link(href='http://2gis.ru/moscow/profiles/70000001047778869,4504127909024155,70000001054919046/center/37.58422851562501,55.783716771543766/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap') Посмотреть на карте Москвы
      script(charset='utf-8' src='https://widgets.2gis.com/js/DGWidgetLoader.js')
      script(charset='utf-8').
        new DGWidgetLoader({"width":600,"height":600,"borderColor":"#a3a3a3","pos":{"lat":55.783716771543766,"lon":37.58422851562501,"zoom":12},"opt":{"city":"moscow"},"org":[{"id":"70000001047778869"},{"id":"4504127909024155"},{"id":"70000001054919046"}]});
      noscript(style='color:#c00;font-size:16px;font-weight:bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
